selenium==3.141.0
Keras==2.3.1
matplotlib==3.1.1
tensorflow_gpu==2.0.0
chromedriver_binary==78.0.3904.70.0
webdrivermanager==0.7.4
numpy==1.17.3
fake_useragent==0.1.11
Pillow==6.2.1
scikit_learn==0.21.3
tensorflow==2.0.0
